<!-- Move Prompt Modal Content -->
<div class="modal-header">
    <h5 class="modal-title">Move Prompt</h5>
    <button type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
</div>
<form hx-post="{% url 'prompt' %}"
      hx-target="#filesystem"
      hx-swap="outerHTML"
      hx-trigger="submit"
      hx-indicator="#move-prompt-spinner">
    {% csrf_token %}
    <input type="hidden" name="action" value="move">
    <input type="hidden" name="prompt_id" value="{{ prompt_id }}">
    <div class="modal-body">
        <div class="mb-3">
            <label for="new_dir" class="form-label">New directory</label>
            <select class="form-select" id="new_dir" name="new_dir_id" required>
                <option value="">Select a directory for {{ prompt.display }}</option>
                {% for dir in dirs %}
                    {% if dir.id != prompt.dir.id %}<option value="{{ dir.id }}">{{ dir.display }}</option>{% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <span id="move-prompt-spinner"
              class="spinner-border spinner-border-sm htmx-indicator"
              role="status"
              aria-hidden="true"></span>
        <button type="submit" class="btn btn-primary">Move Prompt</button>
    </div>
</form>
