{% load bootstrap_icons %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex align-items-center">
        <li class="breadcrumb-item d-flex align-items-center">
            <a href="{% url 'projects' %}" class="d-flex align-items-center">{% bs_icon 'folder' %}</a>
        </li>
        {% for ancestor in ancestors %}
            <li class="breadcrumb-item">
                <a href="#"
                   hx-get="{% url 'get_content' 'dirnode' ancestor.id %}"
                   hx-target="#content"
                   hx-trigger="click"
                   hx-push-url="true"
                   hx-on:click="updateBreadcrumb('dirnode', {{ ancestor.id }})">{{ ancestor.display }}</a>
            </li>
        {% endfor %}
        <li class="breadcrumb-item active d-flex align-items-center">{{ current_node.display }}</li>
    </ol>
</nav>
