{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block bootstrap5_content %}
    <div class="container-fluid">
        <div class="row mt-3">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar vh-100 overflow-auto">
                <div class="position-sticky">
                    <ul class="list-group">
                        {% for item in filesystem %}
                            {% include "filesystem.html" with item=item level=0 %}
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <main id="main-pane" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% if prompts %}
                    {% include "prompt.html" %}
                {% else %}
                    <div>
                        <h1>Welcome</h1>
                        <p>Select a directory or file to view its prompts.</p>
                    </div>
                {% endif %}
            </main>
        </div>
    </div>
    {% include "modals/load_modals.html" with filesystem=filesystem %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Reinitialize modals
            var modalElements = document.querySelectorAll('.modal');
            modalElements.forEach(function (modalElement) {
                new bootstrap.Modal(modalElement);
            });
        });
    </script>
{% endblock %}