{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block bootstrap5_content %}
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar vh-100 overflow-auto">
                <div class="position-sticky">
                    {% include "filesystem.html" with items=filesystem %}
                </div>
            </nav>
            <main id="main-pane" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% if prompts %}
                    {% include "prompt.html" %}
                {% else %}
                    <div class="mt-3">
                        <h1>Welcome</h1>
                        <p>Select a directory or file to view its prompts.</p>
                    </div>
                {% endif %}
            </main>
        </div>
    </div>
{% endblock %}