{% load bootstrap_icons %}

{% for prompt in prompts %}
<div class="card mt-3">
    <div class="card-body">
        <!-- Breadcrumb trail -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb d-flex align-items-center">
                {% with dirs=prompt.dir.get_ancestors|default_if_none:"" %}
                <li class="breadcrumb-item d-flex align-items-center">
                    {% bs_icon 'folder' %}
                </li>
                {% for dir in dirs %}
                <li class="breadcrumb-item d-flex align-items-center"><a href="{% url 'load_prompts' dir.id %}">{{ dir.display }}</a></li>
                {% endfor %}
                <li class="breadcrumb-item active d-flex align-items-center" aria-current="page">{{ prompt.dir.display }}</li>
                {% endwith %}
            </ol>
        </nav>

        <!-- Prompt display name -->
        <h5 class="card-title">{{ prompt.display }}</h5>

        <!-- Prompt text -->
        <p class="card-text">{{ prompt.text }}</p>

        <!-- AIModels as badges -->
        <div>
            {% for aimodel in prompt.aimodels.all %}
            <span class="badge rounded-pill bg-secondary">{{ aimodel.name }}</span>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}