{% load bootstrap_icons %}
<div class="card mb-3" id="prompt-card-{{ prompt.id }}">
    <div class="card-body">
        <form hx-post="{% url 'edit_node' node_type='prompt' node_id=prompt.id %}"
              hx-target="#prompt-card-{{ prompt.id }}"
              hx-swap="outerHTML">
            {% csrf_token %}
            {% include 'breadcrumb.html' with item=prompt %}
            <!-- Editable prompt display name -->
            <div class="row mb-3 align-items-center">
                <div class="col-auto pe-2 d-flex align-items-center">{% bs_icon 'chat' %}</div>
                <div class="col ps-0">{{ form.display }}</div>
            </div>
            <!-- Editable prompt text -->
            <div class="row mb-3">
                <div class="col-auto pe-2 d-flex align-items-top mt-1">{% bs_icon 'chat-quote' %}</div>
                <div class="col ps-0">{{ form.text }}</div>
            </div>
            <!-- Editable AIModels -->
            <div class="row mb-3 align-items-center">
                <div class="col-auto pe-2 d-flex align-items-center">{% bs_icon 'robot' %}</div>
                <div class="col ps-0">
                    {% for checkbox in form.aimodels %}<div class="form-check">{{ checkbox }}</div>{% endfor %}
                </div>
            </div>
            <!-- Save and Cancel buttons -->
            <div class="row mt-3">
                <div class="col">
                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-success d-flex align-items-center">
                            {% bs_icon 'check' extra_classes="me-2" %}
                            Save
                        </button>
                        <button type="button"
                                class="btn btn-secondary d-flex align-items-center"
                                hx-get="{% url 'get_content' node_type='prompt' node_id=prompt.id %}"
                                hx-target="#prompt-card-{{ prompt.id }}"
                                hx-swap="outerHTML">
                            {% bs_icon 'x' extra_classes="me-2" %}
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
