{% load bootstrap_icons %}
{% load custom_filters %}
<!-- Breadcrumb trail -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex align-items-center">
        <li class="breadcrumb-item d-flex align-items-center">{% bs_icon 'folder' %}</li>
        {% for ancestor in dir.get_ancestors %}
            <li class="breadcrumb-item">
                <a href="#"
                   hx-get="{% url 'dir' %}?action=view&dir_id={{ ancestor.id }}"
                   hx-target="#main-project-content">{{ ancestor.display }}</a>
            </li>
        {% endfor %}
        <li class="breadcrumb-item d-flex align-items-center">
            <a href="{% url 'dir' %}?action=view&dir_id={{ dir.id }}"
               hx-get="{% url 'dir' %}?action=view&dir_id={{ dir.id }}"
               hx-target="#main-project-content"
               hx-push-url="true"
               aria-current="page">{{ dir.display }}</a>
        </li>
    </ol>
</nav>
<!-- AI card container -->
<div id="aimodels-container">
    <div class="row">
        {% with all_aimodels=dir.get_descendants|dictsort:"display" %}
            {% for item in all_aimodels %}
                {% if item|get_class_name == 'AIModel' %}
                    <div class="col-md-6 mb-3">{% include "ai/card.html" with aimodel=item %}</div>
                {% endif %}
            {% empty %}
                <p>No AI models in this directory or its subdirectories.</p>
            {% endfor %}
        {% endwith %}
    </div>
</div>
<!-- Prompt card container -->
<div id="prompts-container">
    <div class="row">
        {% with all_prompts=dir.get_descendants|dictsort:"display" %}
            {% for item in all_prompts %}
                {% if item|get_class_name == 'Prompt' %}
                    <div class="col-md-6 mb-3">{% include "prompt/card.html" with prompt=item %}</div>
                {% endif %}
            {% empty %}
                <p>No prompts in this directory or its subdirectories.</p>
            {% endfor %}
        {% endwith %}
    </div>
</div>
