<!-- Move Directory Modal Content -->
<div class="modal-header">
    <h5 class="modal-title">Move Directory</h5>
    <button type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
</div>
<form hx-post="{% url 'dir' %}"
      hx-target="#filesystem"
      hx-swap="outerHTML"
      hx-trigger="submit"
      hx-indicator="#move-dir-spinner">
    {% csrf_token %}
    <input type="hidden" name="action" value="move">
    <input type="hidden" name="dir_id" value="{{ dir_id }}">
    <div class="modal-body">
        <div class="mb-3">
            <label for="new_parent_dir" class="form-label">New parent directory</label>
            <select class="form-select"
                    id="new_parent_dir"
                    name="new_parent_dir_id"
                    required>
                <option value="">Select a directory for {{ dir.display }}</option>
                <option value="None">No parent (move to root)</option>
                {% for dir in valid_dirs %}<option value="{{ dir.id }}">{{ dir.display }}</option>{% endfor %}
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <span id="move-dir-spinner"
              class="spinner-border spinner-border-sm htmx-indicator"
              role="status"
              aria-hidden="true"></span>
        <button type="submit" class="btn btn-primary">Move Directory</button>
    </div>
</form>
