<div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
</div>
<form {% if node_id %} hx-post="{% url 'modal_with_node' node_type=node_type action=action node_id=node_id %}" {% else %} hx-post="{% url 'modal_no_node' node_type=node_type action=action %}" {% endif %}
      hx-target="#content"
      hx-swap="innerHTML"
      hx-trigger="submit">
    {% csrf_token %}
    <div class="modal-body">
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}{{ error }}{% endfor %}
            </div>
        {% endif %}
        {% block modal_content %}{% endblock %}
    </div>
    <div class="modal-footer">
        {% block modal_footer %}{% endblock %}
    </div>
</form>
