{% load bootstrap_icons %}
{% if item.type == 'dirnode' %}
    <li>
        <a class="dropdown-item"
           href="#"
           hx-get="{% url 'dirnode' %}?action=add&dir_id={{ item.id }}"
           hx-target="#modal-content"
           data-bs-toggle="modal"
           data-bs-target="#itemModal">{% bs_icon 'plus' extra_classes='me-2' %} Add new child directory</a>
    </li>
    <li>
        <a class="dropdown-item"
           href="#"
           hx-get="{% url 'prompt' %}?action=add&dir_id={{ item.id }}"
           hx-target="#modal-content"
           data-bs-toggle="modal"
           data-bs-target="#itemModal">{% bs_icon 'chat-dots' extra_classes='me-2' %} Add new prompt</a>
    </li>
    <li>
        <a class="dropdown-item"
           href="#"
           hx-get="{% url 'aimodel' %}?action=add&dir_id={{ item.id }}"
           hx-target="#modal-content"
           data-bs-toggle="modal"
           data-bs-target="#itemModal">{% bs_icon 'robot' extra_classes='me-2' %} Add new AI model</a>
    </li>
{% endif %}
<li>
    <a class="dropdown-item"
       href="#"
       hx-get="{% url item.type %}?action=rename&{{ item.type }}_id={{ item.id }}"
       hx-target="#modal-content"
       data-bs-toggle="modal"
       data-bs-target="#itemModal">{% bs_icon 'pencil' extra_classes='me-2' %} Rename {{ item.type_display }}</a>
</li>
<li>
    <a class="dropdown-item"
       href="#"
       hx-get="{% url item.type %}?action=copy&{{ item.type }}_id={{ item.id }}"
       hx-target="#modal-content"
       data-bs-toggle="modal"
       data-bs-target="#itemModal">{% bs_icon 'layers' extra_classes='me-2' %} Copy {{ item.type_display }}</a>
</li>
<li>
    <a class="dropdown-item"
       href="#"
       hx-get="{% url item.type %}?action=move&{{ item.type }}_id={{ item.id }}"
       hx-target="#modal-content"
       data-bs-toggle="modal"
       data-bs-target="#itemModal">{% bs_icon 'arrow-return-right' extra_classes='me-2' %} Move {{ item.type_display }}</a>
</li>
<li>
    <hr class="dropdown-divider">
</li>
<li>
    <a class="dropdown-item text-danger"
       href="#"
       hx-get="{% url item.type %}?action=delete&{{ item.type }}_id={{ item.id }}"
       hx-target="#modal-content"
       data-bs-toggle="modal"
       data-bs-target="#itemModal">{% bs_icon 'trash' extra_classes='me-2' %} Delete {{ item.type_display }}</a>
</li>
